In [38]:
import pandas as pd
from io import StringIO

s = StringIO()

for ln in open("AIS_2018-05_1.txt"):
    cells = ln.split()
    for i in range(1, len(cells), 3):
        s.write(",".join([cells[0]]+cells[i:i+3]) + '\n')
    break

s.seek(0)
df = pd.read_csv(s, names=['Ship ID', "Time", "Lat", "Lon"], parse_dates=["Time"])

df.head()

     Ship ID           Time        Lat        Lon
0  246430000  1526304226853  19.077677  58.641653
1  246430000  1526304686566  19.105833  58.663473
2  246430000  1526305706419  19.168350  58.711270
3  246430000  1526306045747  19.189175  58.727265
4  246430000  1526306975448  19.245040  58.771758